@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/**!---------RESET-------------**/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}


/**--------------------HEADER--------------------------**/
/**!---ESTILOS BARRA NAV BOOTSTRAP----**/
.colornavbar {
    background-color: gray;
}

.navbar-brand {
    font-size: 35px !important;
}

.navbar-brand {
    color: white !important;
}

.btn-outline-dark {
    background-color: rgb(255, 255, 255) !important;
}

.btn-outline-dark:hover {
    background-color: rgb(0, 0, 0) !important;
}

.nav-link {
    color: rgb(255, 255, 255) !important;

}

.nav-link:hover {
    text-decoration: underline;
}


/**?-----------------------PAGE INDEX------------------------**/
/**------------------MAIN------------------**/
/**------------SECTION HERO---------------**/
.hero {
    width: 100%;
    height: 300px;
    background-image: url(../img/herofondoarmadopc.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.hero h2 {
    color: white;
    font-size: 30px;
    text-align: center;
}

.hero p {
    color: white;
    text-align: center;
    margin: 0px 20px 0px 20px;
    font-size: 16px;
}

.hero a {
    color: white;
    font-size: 20px;
    padding: 5px;
}

/**!-------MEDIAQUERIES HERO---------*/
@media screen and (max-width:490px) {
    .hero h2 {
        text-align: center;
    }

}

@media screen and (max-width:870px) {
    .hero {
        width: 100%;
        height: auto;
    }

}


/**-----------------------SECTION ARMADO----------------**/
.armado h2 {
    color: black;
    margin: 20px 5px 20px 5px;
    font-size: 25px;
}

.armado p {
    color: black;
    margin: 0px 5px 0px 5px;
    text-align: center;
    font-size: 16px;
}

.armado div {
    display: flex;
    text-align: center;
    flex-direction: row-reverse;
    align-items: center;
}

.armado h4 {
    color: black;
    margin: 30px 0px 0px 25px;
    font-size: 20px;
    text-align: c;
}


/**!--------MEDIAQUERIES ARMADO--------------*/
@media screen and (max-width:1000px) {
    .armado img {
        display: none;
    }

    .armado h2 {
        text-align: center;
    }
}


/**-------------SECTION DESTACADOS-----------------**/
.destacados h2 {
    color: black;
    margin: 30px 0px 0px 10px;
    font-size: 25px;
}

.destacados-divcontenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.destacados-divcontenedor div {
    width: 350px;
    height: 350px;
    border: 2px solid grey;
    margin: 30px;
    text-align: center;
}


.destacados div img {
    width: 300px;
    height: 200px;
    margin: 0px;
}

.destacados div h3 {
    margin: 25px;
}


.destacados div a {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 5px;
}


.destacados div a:hover {
    text-decoration: underline;
}


/**!----------MEDIAQUERIES ARMADO--------------*/
@media screen and (max-width:490px) {
    .destacados h2 {
        text-align: center;
        font-size: 30px;
    }
}


/**?--------------ESTILOS PARA LAS PAGINAS.HTML--------------**/

/**?-------------PAGE MONITORES-------------------**/
/**--------SECTION MARCASYMODELOS---------------**/
.marcasymodelos img {
    width: 100%;
}

.marcasymodelos h2 {
    color: black;
    font-size: 30px;
    margin: 30px 0px 0px 10px;
    text-align: center;
}

.marcasymodelos p {
    color: black;
    margin: 5px 10px 5px 10px;
    text-align: center;
    font-size: 16px;
}

.marcasymodelos-divcards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.marcasymodelos-divcards div {
    width: 350px;
    height: 350px;
    border: 2px solid grey;
    margin: 10px;
    text-align: center;
}


.marcasymodelos div img {
    width: 300px;
    height: 200px;
    margin: 10px;
}

.marcasymodelos div h3 {
    margin: 30px;
}


.marcasymodelos div a {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 5px;
}

/**-------------SECTION ACCESORIOS----------------**/
.accesorios img {
    width: 100%;
}

.accesorios h2 {
    color: black;
    margin: 30px 0px 0px 10px;
    font-size: 30px;
    text-align: center;
}


.accesorios-divcards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
}

.accesorios-divcards div {
    border: 2px solid grey;
    margin: 20px 40px 20px 40px;
}

.cajas {
    position: relative;
}

.accesorios-divcards div img {
    width: 100%;
    height: 90%;
}

.cajas h3 {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 0px;
}


.caja1 {
    grid-row: span 2;
}

.caja2 {
    grid-column: span 2;
}

.caja4 {
    grid-row: span 2;
}

.accesorios-divcards div {
    border: 2px solid grey;
    margin: 20px 40px 20px 40px;
}


/**!----------MEDIAQUERIES ACCESORIO--------------**/
@media screen and (max-width:1110px) {
    .accesorios-divcards {
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        gap: 5px;
    }

    .accesorios-divcards div {
        width: 350px;
        height: 350px;
        border: 2px solid grey;
        margin: 20px 40px 20px 40px;
    }
}

@media screen and (max-width:1087px) {
    .cajas h3 {
        width: 100%;
    }
}


/**?-----------------------PAGE PC AMRAMDAS----------------------**/
/**--------------SECTION ARMATUPC---------------**/
.armatupc img {
    width: 100%;
}

.armatupc h2 {
    color: black;
    margin: 30px 0px 0px 0px;
    font-size: 30px;
    text-align: center;
}

.armatupc h4 {
    color: black;
    margin: 30px 0px 0px 25px;
    font-size: 20px;
    text-align: start;
}

.armatupc p {
    color: black;
    margin: 5px 30px 5px 30px;
    text-align: start;
    font-size: 16px;
}

.armatupc-divcards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

.armatupc-divcards div {
    width: 350px;
    height: 350px;
    border: 2px solid grey;
    margin: 10px;
    text-align: center;
}

.armatupc div img {
    width: 300px;
    height: 200px;
    margin: 10px;
}

.armatupc div h3 {
    margin: 30px;
}

.armatupc div a {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 5px;
}

/**-------------SECTION TODOLOQUENECESITAS-----------------**/
.todoloquenecesitas {
    color: black;
    margin: 5px 0px 0px 10px;
    align-items: center;
}

.todoloquenecesitas h2 {
    color: black;
    margin: 30px 0px 10px 0px;
    font-size: 30px;
    text-align: center;
}


.parrafos {
    color: black;
    margin: 5px 30px 5px 30px;
    font-size: 30px;
    text-align: start;
    font-size: 16px;
}

.divcarrusel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
}

/**!----------ESTILOS BOOTSTRAP CARRUSEL-----*/
/*--BOTONES Y TXT ---*/
.carousel-caption {
    position: absolute !important;
    right: 25px !important;
    bottom: 10px !important;
    left: 25px !important;
    padding-top: 3px !important;
    /*padding-bottom: 3px !important;*/
    color: black !important;
    border: 2px solid grey;
    background-color: rgba(128, 128, 128, 0.829);
    width: auto !important;
}

.carousel-indicators {
    bottom: 20PX !important;
}

.w-100 {
    height: 400px !important;
    border: 1px solid black !important;
    padding: 5px !important;
    background-color: rgb(99, 99, 96);
}

#carouselExampleCaptions {
    width: 750px !important;

}

.carousel-item {
    margin-bottom: 20px !important;
}

/**!----------MEDIAQUERIES CARRUSEL--------------**/
@media screen and (max-width:770px) {
    .d-md-block {
        position: absolute !important;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 15px;
        width: 350px !important;
        height: 300px !important;
    }

    .carousel-caption {
        position: relative !important;
        right: 25px !important;
        bottom: 10px !important;
        left: 25px !important;
        padding-top: 3px !important;
        color: black !important;
        border: 2px solid grey;
        background-color: rgba(128, 128, 128, 0.829);
        width: 350px !important;
    }
}

@media (max-width: 768px) {
    .d-md-block {
        display: flex !important;
    }
}



/**?-------------PAGE PLACAS DE VIDEO---------------**/
/**-------------SECTION MEJORA-------------**/
.mejora h2 {
    color: black;
    margin: 30px 0px 0px 10px;
    font-size: 30px;
    text-align: center;
}

.mejora p {
    color: black;
    margin: 10px 5px 10px 5px;
    text-align: center;
}

.mejora-divcards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.mejora-divcards div {
    width: 350px;
    height: 350px;
    border: 2px solid grey;
    margin: 40px;
    text-align: center;
}

.mejora div img {
    width: 100%;
    height: 200px;
}


.mejora div h3 {
    margin: 30px;
}


.mejora div a {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 5px;
}


/**!----------MEDIAQUERIES MEJORA--------------**/
@media screen and (max-width:450px) {
    .mejora-divcards div {
        width: 350px;
        height: 350px;
        border: 2px solid grey;
        margin: 40px 20px 40px 20px;
        text-align: center;
    }
}


/**--------SECTION EXTRAEELMAX--------**/
.extraelmax h2 {
    color: black;
    margin: 30px 0px 0px 10px;
    font-size: 30px;
    text-align: center;
}

.extraelmax p {
    color: black;
    margin: 10px 5px 10px 5px;
    text-align: center;
}

.extraelmax-divcards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.extraelmax-divcards div {
    width: 350px;
    height: 350px;
    border: 2px solid grey;
    margin: 40px;
    text-align: center;
}

.extraelmax div img {
    width: 100%;
    height: 200px;
}


.extraelmax div h3 {
    margin: 30px;
}


.extraelmax div a {
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 5px;
}


/**!----------MEDIAQUERIES MEJORA--------------**/
@media screen and (max-width:450px) {
    .extraelmax-divcards div {
        width: 350px;
        height: 350px;
        border: 2px solid grey;
        margin: 40px 20px 40px 20px;
        text-align: center;
    }
}

/**?-------------PAGE CONTACTENOS----------**/
/**------SECTION FORMULARIO--------**/

.contactenos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.contactenos h2 {
    color: black;
    margin: 30px 10px 30px 10px;
    font-size: 30px;
    text-align: center;
}

.divformulario div{
    background-color: grey !important;
}

.videoyt {
    width: 450px;
    height: 350px;
    object-position: center
}

.gmap{
    width: 800px;
    height: 350px;
    margin: 15px 20px 30px 20px;
    object-position: center
}

/**!----------MEDIAQUERIES PAGE CONTACTENOSMapa-------------**/

@media screen and (max-width:850px) {
    .gmap{
        width: 450px;
        margin: 15px 5px 15px 5px;
        
    }
}

@media screen and (max-width:462px) {
    .gmap{
        width: 350px;
        margin: 15px 5px 15px 5px;
        
    }

    .videoyt {
        width: 350px;
    
    }

}
/**-------------FOOTER-----------------------**/
footer {
    background-color: gray;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

footer h2 {
    font-size: 30px;
    margin: 5px;
}

footer div p {
    margin: 5px;
}

footer div a img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

footer div img {
    width: 50px;
    height: 50px;
    margin: 5px;
}



